@using PassingData.Models
<h2> Deneme</h2>
@if (ViewData["UserName"].ToString() == "1Ahmet Selim")
{
    <p>
        Merhaba @ViewData["UserName"].ToString()
    </p>
}
else
{
    User user = ViewData["User"] as User;
    <p>Merhaba @user.firstName</p>
}

<ul>
    @foreach (User item in ViewData["users"] as List<User>)
    {
        <li>@item.firstName @item.lastName</li>
    }
</ul>