@using PassingData.Models
<p>
    Merhaba @ViewBag.UserName
</p>

<p>
    Merhaba @ViewBag.User.firstName @ViewBag.User.lastName
</p>

<ul>
    @foreach (User item in ViewBag.users)
    {
        <li>@item.firstName</li>
    }
</ul>
