
<h2 style="text-align:center" >Kullanıcı Ekleme Sayfası</h2>


<form method="post" action="/user/addUser">
    <label for="name">Adı</label> <br />
    <input type="text" id="name" name="FirstName" /> <br />
    <label for="name">Soyadı</label> <br />
    <input type="text" id="name" name="LastName" /> <br />
    <input type="submit" value="Kullanıcı Ekle"/>
</form>
