<div class="navbar-header">
    <a class="navbar-brand" href="#">WebSiteName</a>
</div>
<ul class="nav navbar-nav">
    <li class="active"><a asp-controller="home" asp-action="index">Home</a></li>
    <li><a asp-controller="home" asp-action="page1">Öğretmen Sayfası</a></li>
    <li><a asp-controller="home" asp-action="page2">Öğrenci Sayfası</a></li>
</ul>